.array-container {
    position: absolute;
    left: 50px;
    bottom: 50px;
    /* top: 100px; */
}

.array-bar{
    width: 2px;
    background-color: rgb(224, 69, 64);
    display: inline-block;
    margin: 0 1px;
}